.CreateNewTaskForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0.5rem;
    position: absolute;
    left: calc(50% - 736px/2);
    top: 173px;
}

.CreateNewTaskForm input {
    background-color: var(--gray-500);
    width: 40rem;
    height: 3.4rem;
    padding: 1rem;
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    color: #FFF;
}

.CreateNewTaskForm button[type=submit] {
    background-color: var(--blueDark);
    width: 5.625rem;
    height: 3.25rem;
    border: none;
    border-radius: 8px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 700;
    cursor: pointer;
}

.CreateNewTaskForm button:hover {
    background-color: var(--blue);
    transition: all 0.5s ease-in-out;
}