.taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem;
    gap: 24px;
}

.taskAccountant {
    display: flex;
    justify-content: space-between;
    gap: 425px;
    font-size: 14px;
    font-weight: 700;
    height: 16.94px;
}

.taskList .tasksCreated {
    color: var(--blue);
    display: flex;
    gap: 8px;
}

.taskList .tasksCompleted {
    color: var(--purple);
    display: flex;
    gap: 8px;
}
